#root {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;    
    min-height: 100vh;

}

.application{
    display: flex;
    flex-direction: column;
}

.main{
    width: 80%;
    margin: 0 auto;
    flex: 1;
}

* {
    font-family: "Montserrat", sans-serif;
}