#root {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;    
    min-height: 100vh;

}

.application{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main{
    width: 80%;
    margin: 0 auto;
    flex: 1;
    @media screen and (max-width: $phoneMaxWidth){
        width: 90%;
    }
}

* {
    font-family: "Montserrat", sans-serif;
}