.housing {

    &_content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        @media screen and (max-width: $phoneMaxWidth){
            flex-direction: column;
            gap: 20px;
        }
    }
    &_title {
        color: $primary-color;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 10px;
        @media screen and (max-width: $phoneMaxWidth){
            font-size: 20px;
        }
    }

    &_location {
        font-size: 18px;
        margin-bottom: 20px;
        @media screen and (max-width: $phoneMaxWidth){
            font-size: 15px;
        }
    }

    &_tags{
        display: flex;
        gap: 10px;
    }

    &_host{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: $phoneMaxWidth){
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    &_host-name{
        color: $primary-color;
        font-weight: 500;
        font-size: 18px; 
        line-height: 142.6%;
        text-align: right;

        @media screen and (max-width: $phoneMaxWidth){
            font-size: 15px;
        }
    }

    &_host-avatar{
        height: 64px;
        width: 64px;
        border-radius: 50%;
        object-fit: cover;
        @media screen and (max-width: $phoneMaxWidth){
            height: 40px;
            width: 40px;
        }
    }

    &_collapses{
        display: flex;
        gap: 76px;

        @media screen and (max-width: $phoneMaxWidth){
            flex-direction: column;
            gap: 0px;
        }
    }


}