nav {
    display: flex;
    align-items: center;

    ul {
        display: flex;
    }

    a {
        font-size: 24px;
        font-weight: 500;
        margin-left: 60px;

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: $phoneMaxWidth) {
        a {
            font-size: 13px;
            margin-left: 26px;
            text-transform: uppercase;
        }
    }

}