header{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

    @media screen and (max-width: $phoneMaxWidth){

        margin-top: 20px;
        margin-bottom: 25px;
        img{
            height: 45px;
        }
    }

}