.collapse{

    margin-bottom: 20px;

    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        padding: 0 15px;       
    }

    &-arrow{
        transition: transform 0.5s ease-in-out;
        cursor: pointer;
        
        &_rotation{
            transform: rotate(-0.5turn);
        }
    }

    &-content_hide{
        transition: all 0.5s ease;
        overflow: hidden;
        position: relative;
        z-index: -1;
    }
    
    &-text{
        background-color: #F6F6F673;
        font-size: 18px;
        padding: 20px;
        border-radius: 5px;
        line-height: 142.6%;
    }
    
    &-about{
        font-size: 24px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    &-housing{
        font-size: 18px;
        flex: 1;
    }

}


