header{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

    nav{
        display: flex;
        align-items: center;
    }

    ul{
        display: flex;
    }

    a{
        font-weight: 500;
        margin-left: 60px;
        &:hover{
            text-decoration: underline;
        }
    }

}